{{!< default}}
<div class="container">
	<div class="jumbotron"><img src="/images/INVESTWV.jpg" width="160">
		<h1>Welcome</h1>
		<p>West (invest) Virginia is an initiative to explore the options available for investment in the Mountain State.</p>
		<a href='http://pathgrab.com' target='_blank'>Pathgrab</a>
	</div>
	<div class="row">
		<div class="col-md-4 col-lg-4">
			<h3>How to Invest?</h3>
			<p>This is where you might put the contact information?</p>
		</div>
		<div class="col-md-4 col-lg-4">
			<h3>Where To Invest?</h3>
			<p>Barbour, Randolph, Central West Virginia</p>
		</div>
		<div class="col-md-4 col-lg-4">
			<h3>Why?</h3>
			<p>Sustainability and concern for future generations</p>
		</div>
	</div>

</div>
